.primary-text {
  color: #3B7DDD;
}

.secondary-bg {
  background-color: #D3E2F7;
}

.second-text {
  color:  #ECECEC;
}

.navbar.navbar-expand-lg {
  background-color: #FFFFFF !important;
  margin-bottom: 30px;
  box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);
}

.rounded-full {
  border-radius: 100%;
}

.bg-color {
  background-color: var(--second-bg-color);
}

.text-side-bar a{
    font-weight: bold !important;
}

.text-side-bar a:hover{
    color: #FFFFFF;
}

.bg-color .text-side-bar{
  color: var(--second-text-color);
  border-bottom: 1px solid var(--second-text-color);
}

.bg-color a{
  color: var(--second-text-color);
  font-weight: 500;
}

.list-group.list-group-flush a{
  font-size: 14px;
}

.list-group.list-group-flush a:hover{
  color: #FFFFFF;
}

#wrapper {
  overflow-x: hidden;
  background-color: #F5F7FB;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
  color: #495057;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
  margin: 5px 0 5px 0;
  border: none !important;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.bg-title-list {
  background-color: var(--second-bg-color);
  border-radius: 4px;
  padding: 10px 0 20px 0;
}

.bg-title-list h1 {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 500;
}

.bg-title-entry-exit {
    border-radius: 4px;
    padding: 10px 0 20px 0;
}

.bg-title-entry-exit h1 {
    color: #000;
    font-size: 22px;
    font-weight: 500;
}

a.page-link, span.page-link {
  color: #000;
}

a.dropdown-item {
  color: #000;
  font-weight: 400;
}

.bg-one {
    background-color: #4E73DF;
}
.bg-two {
    background-color:#f6c23e;
}

.bg-tree {
    background-color:#e74a3b;
}

.bg-four {
    background-color: #1B8755;
}

.bg-one, .bg-two, .bg-tree, .bg-four {
    color: #FFF;
}

.title-home{
    display: flex;
    align-items: center;
}

.title-text {
    font-size: 14px;
    color: #868686;
}

.title-home i{
    font-size: 20px;
    margin-right: 10px;
}

.title-home h1{
    font-size: 26px;
}

/* Detalhes */
.details {
    display: flex;
    justify-content: center;
}

.bg-details {
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);
    width: 800px;
    margin-bottom: 30px;
}

.title-details h1 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: #000;
    font-weight: 500;
}

.informations {
    flex-direction: row;
}

.informations h6{
    line-height: 40px;
}

.form-delete {
    margin-top: 20px !important;
}

.online-indicator{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4CAF50;
    margin-right: 6px;
}

/* File Input */
.upload-product {
    display: flex;
    justify-content: center;
}

.bg-upload-product {
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);
    width: 800px;
}

.title-upload-product h1 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: #000;
    font-weight: 500;
}

.product-photo-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.custom-file-upload {
    background-color: #ff8c00;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
}

.hidden-file-input {
    display: none;
}

.upload-icon {
    font-size: 18px;
    margin-right: 10px;
}

.custom-file-upload:hover {
    background-color: #ff7f00;
}

.foto-product {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.foto-details-product {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}

/* Profile */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33,40,50,.125);
    border-radius: 0.35rem;
}

.card-header {
    padding: 15px !important;
    margin-bottom: 0;
    background-color: #21283208;
    border-bottom: 3px solid rgba(33,40,50,.125);
}

.card .card-header{
    font-weight: 500;
    color: #222E3C;
    font-size: 17px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body img{
    width: 200px;
    height: 200px;
}

.card-body span {
    color: #a7aeb8;
}

.card-body button {
    margin: 15px 0 15px 0;
}

#file-input {
    display: none;
}

/* Media */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
