@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

input:focus {
    outline: none;
}

:root {
  --second-bg-color: #222E3C;
  --second-text-color: #ADB5BD;
}

.bg-form {
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);
}

.bg-title-form h1 {
  font-size: 21px;
  color: #000;
  font-weight: 500;
}

.form-control, .form-select {
  background-color: #F0F0F5 !important;
  border: none !important;
}

form .form-select option {
  font-size: 14px;
}

.form-control, .form-select:focus {
  box-shadow:none !important;
}

.management-sidebar{
    font-weight: bold;
    color: #FFFFFF;
    margin: 20px 0 10px 0;
}

.title-sidebar{
    font-weight: bold;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
}

.success-message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#success-message {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease;
}

.error-message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#error-message {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #fa5a5a;
    color: #fff;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease;
}

td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    padding: 10px;
}

/* Image Perfil Upload */
.image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Input Search */
.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    margin: 16px 16px 10px 16px;
}

.search-container button {
    border: 1px solid #ccc;
    border-left: none !important;
    padding: 5px;
    font-size: 14px;
}

.fa-search {
    margin-right: 10px;
    color: #555;
}

#search-input {
    border: 1px solid #ccc;
    width: 300px;
    padding-left: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
